@charset "utf-8";
/* CSS Document */
	body{
		background-color: black;
		background-image: url("Images/istockphoto-1268487061-170667a.jpg");
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: contain;
		text-align: center;
		font-family: Arial;
		color: #A2A2A2;
	}
	h1{
		font-size: 60px;
		color: white;
	}
	h2{
		font-size: 35px;
		color: white;
	}
	.maindiv{
		width: 50%;
		height: 300px;
		position: absolute;
		transform: translate(-50%, 0%);
		left: 50%;
		right: 50%;
		background-image:url("Images/Mobile-Application-Software.jpg");
		background-size: 100% 100%;
		animation: slider 15s infinite linear;
		
	}
	@keyframes slider{
		0%{background-image: url("Images/Mobile-Application-Software.jpg");}
		35%{background-image: url("Images/1_ecU3mH6ajULJpcVFvLGcaQ.png");}
		75%{background-image: url("Images/61cf05e1721bda6f45e3937b_Mobile-Application-for-Asset-Management-Software.jpeg");}
	}
	input{
		height: 50px;
		width: 100%;
	}
	.center{
		margin-left: auto;
		margin-right: auto;
	}
	.header{
		
		width: 2.5%;
		height: 6%;
		position: absolute;
		z-index: 10;
		right: 0;
		
	}
	#sidebarMenu{
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		width: 250px;
		margin-top: 0px;
		background-color: black;
		transform: translateX(250px);
		transition: transform 250ms ease-in-out
	}
	#openSidebarMenu:checked ~ #sidebarMenu{
		transform: translateX(0px);
		
	}

	.menu{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.menu li{
		color: #FFFFFF;
		border-bottom: 1px solid rgba(255,255,255,0.10);
	}
	.menu li a{
		color: #FFFFFF;
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		padding: 20px;
		
	}
	.sidebarIconToggle{
		width: 22px;
		height: 22px;
		position: fixed;
		z-index: 20;
		top: 22px;
		right: 15px;
		cursor: pointer;
		
			
	}
	.spinner{
		height: 3px;
		background: #fff;
		transition: all 0.3s;
	}
	.spinner.middle,
	.spinner.bottom{
		margin-top: 3px;
	}
	
	#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle{
		opacity: 0;
	}
	#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top{
		transform: rotate(-135deg);
		margin-top: 8px;
	}
	#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom{
		transform: rotate(-135deg);
		margin-top: -9px;
	}

.bod{
	margin-top: 35%;
}

.bod2{
	margin-top: 5%;
}

.bod3{
	margin-top: 35%;
}

.bod4{
	margin-top: 5%;
}
